/****** Main Styling ******/

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-color: #222;
  color: #ECF0F1;
  text-align: center;
}

.container {
  padding: 0;
  margin-top: 40px;
  max-width: 700px;
  margin: auto;
}

.footer {
  margin-top: 1.5em;
}

a {
  color: #61b4ea;
}

input {
  display: block;
  position: relative;
  margin: 10px auto;
}

input#button {
  width: 230px;
}

.view {
  position:relative;
  margin: auto;
  margin-top: 1.5em;
  border: 1px  solid  #aaa;
  padding: 20px;
  width: 60%;
  min-width: 400px;
}
.code-container {
  font-family: 'JetBrains Mono';
  padding: 0.1em 1em;
  border-radius: 5px;
  color: #222;
  background-color: #ECF0F1;
  text-align: left;
  max-width: 17em;
  margin: auto;
}
